# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# macOS junk
.DS_Store
.idea/COMP-380_Group_Project.iml

# Jetbrains junk
.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
